.progress {
    width: 100%; /* Set the width of the progress bar */
    height: 20px; /* Set the height of the progress bar */
    background-color: #ddd; /* Set the background color of the progress bar track */
    margin-bottom: 16px;
    margin-top: 16px; 
}

#displayText {
    margin-top: 50%;
    margin-bottom: 30%;
}

#textInput {
    width: 100%;
    min-height: 20cm;
    resize: vertical;
    display: inline;
    padding: 10px;
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
 
.container {
    width: 100%;
    display: flex;
    padding: 10px;
    border: 1px solid #ccc;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #81818126;  
}
 
.tabs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px; 
}

.tab-button {
    background-color: #FFC400;
    border: none;
    padding: 10px 0; 
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
    flex-grow: 1;  
    text-align: center;  
}

.progress {
    width: 100%;
    height: 5px;
    background-color: #ddd;
    border-radius: 2.5px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.progress::-webkit-slider-thumb,
.progress::-moz-range-thumb {
    appearance: none;
    width: 10px;
    height: 10px;
    background-color: #FFC400;
    border-radius: 50%;
    cursor: pointer;
}

.break-button {
    color: white;
    width: 100%;
    background-color: green; /* Initial color */
    border: none;
    padding: 10px 0; 
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 20px;
    cursor: pointer;
    flex-grow: 1;  
    text-align: center;  
}

.break-button.red {
    background-color: red; /* Color when breaks are disabled */
}


.transition-fade {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}


.highlight {
    background-color: rgb(235, 235, 235)
} 


@media (prefers-color-scheme: dark) {
    .highlight {
        background-color: rgb(13, 13, 13)
    } 
}